.App {
  width: 100%;
}
.draganddrop {
  display: flex;
  justify-content: space-around;
}
.App .column {
  width: 30%;
}
.App .column .droppable-col {
  width: 100%;
  height: auto;
  background-color: gray;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.item {
  margin-bottom: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: gray;
  padding: 10px;
}
.item.dragging {
  background-color: coral;
}
.addNewText {
  display: flex;
  max-width: 600px;
  margin: auto;
  padding: 30px 0;
}
.addNewText > input {
  height: 35px;
  line-height: 35px;
  padding: 10px;

  width: 100%;
  font-size: 14px;
  font-weight: 500px;
}
.addNewText > button {
  padding: 10px 30px;
  margin-left: 10px;
}
